
/* ============= UP TO 575 ============= */

@media screen and (max-width: 575px) {

    .intro-div {
        height: 75vh;
    }

    #scroll-link-div {
        height: 25vh;
    }

    p {
        font-size: .5rem;
    }

    #about-heading-div {
        height: 10vh;
        padding: .5rem;
    }
    
    #about-heading {
        font-size: 2rem;
        /* text-align: center; */
        padding: 1rem 2rem;
    }
    
    #about-content {
        padding: 1rem 2rem;
        height: 90vh;
    }
    
    #about-item {
        margin-bottom: 2rem;
    }

    #about-item h2 {
        font-size: 20px;
        text-align: center;
        padding: 1rem;
    }

    #about-item p {
        font-size: 12px;
    }

    #bio-img-background {
        max-width: 55%;
    }

    /* ------ SKILL SECTION ------ */
    
    #skills-heading-div {
        height: 10vh;
        padding: .5rem;
    }
    
    #skills-heading {
        font-size: 2rem;
        padding: 1rem 2rem;
    }
    
    #skills-content {
        height: 80vh;
        margin-left: -2rem;
        padding: 0rem;
        margin-top: 1rem;
    }
    
    #skills-item {
        padding: 0rem;
    }

    #skills-ul-heading {
        font-size: .75rem;
    }

    #skills-item li {
        font-size: 1rem;
    }

    #skills-footer {
        height: 10vh;
    }

    #skills-footer-item {
        margin: 0 1rem;
        padding: 0 1rem;
    }

    #skills-footer-item a {
        font-size: .5rem;
    }

    #resume-thumbnail {
        display: none;
    }


    /* ----------------------- */

    #projects-heading-div {
        height: 10vh;
        padding: .5rem;
        margin-bottom: 1rem;
    }

    #projects-heading {
        font-size: 2rem;
        padding: 1rem 2rem;
    } 

    #p1-img1 {
        margin-left: 2rem;
    }

    #p1-img2 {
        left: 13rem;
        margin-top: 1.5rem;
    }

    #p1-img3 {
        left: 17rem;
        margin-top: 3.5rem;
    }

    #p2-img1 {
        margin-left: 1.5rem;
    }

    #p2-img2 {
        left: 9rem;
        margin-top: 1.5rem;
    }

    #p2-img3 {
        left: 15rem;
        margin-top: 3rem;
    }

    #project-heading {
        margin-left: 3rem;
    }

    #project-heading h3 {
        font-size: 1rem;
    }

    #project-info {
        margin-left: 2rem;
        margin-top: -.5rem;
        margin-bottom: -.5rem;
    }

    #project-info span {
        font-size: .5rem;
        margin: 1px 1px 1px 0;
    }

    .seperator {
        height: 3rem;
    }

    /* ----------------------- */

    #footer-container {
        height: 25vh;
        padding: 1rem;
    }

    #footer-row {
        font-size: .5rem;
        padding: 1rem;
        height: 15vh;
    }

    #footer-col-left {
        margin-left: 0 .5rem;
        margin-right: auto;
    } 

    #top {
        width: 8rem;
    }

    /* #footer-col-right {
        margin: 0 .5rem;
    } */

    .media-links {
        width: 8rem;
    }

    .media-links a {
        margin: 0 .5rem;
        width: 8rem;
    }
}