html, body {
    height: 100%;
}

h1, h2, p {
    font-family: sans-serif;
}

.intro-container {
    height: 100vh;
    display: table;
    background-color: black;
}

.inner {
    display:table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

#logo-main {
    max-width: 80vw;
    height: auto;
}

.about-container {
    height: 100vh;
    background-color: #e6e6e6;
}

#about-content {
    padding: 2rem;
    height: auto;
    /* vertical-align: middle; */
}

#about-content h2 {
    color: #00CCCC;
}

#img-border {
    max-width: 60%;
    height: auto;
    margin: auto;
    padding: 2px;
    background-color: #00CCCC;
}

#bio-img {
    height: auto;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    /* Grayscale */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 2px solid #00CCCC;
}

.skills-container {
    height: 100vh;
    background-color: lightblue;
}

.projects-container {
    height: 100vh;
    background-color: lightgreen;
}
