html, body {
    height: 100%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, li, a, span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 4rem;
    color: #1f3666;
    border-bottom: 2px solid #009ed4;
}

h3, h2 {
    text-decoration: underline #1f3666;
    text-underline-position: under;
}

.intro-container {
    height: 90vh;
    display: table;
    background-color: #bcbcbc;
    background-attachment: fixed;
}

.intro-div {
    height: 90vh;
    display:table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

#intro-content {
    width: 100%;
}

#logo-main {
    max-width: 50vw;
    height: auto;
    margin: auto;
}

#logo-mobile {
    display: none;
}

#scroll-link-div {
    height: 10vh;
}

#scroll-link {
    color: #1f3666;
}

/* ------ ABOUT SECTION ------ */

#portfolio {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

#about-item h2 {
    color: #009ed4;
    margin-bottom: 2rem;
}

#about-heading-div {
    height: 15vh;
    padding: 5rem;
    color: #1f3666;
}

#about-content {
    padding: 2rem;
    height: 80vh;
}

#bio-img-background {
    max-width: 60%;
    height: auto;
    margin: auto;
    padding: 2px;
    background-color: #009ed4;
}

#bio-img {
    height: auto;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    /* Grayscale */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 2px solid #009ed4;
}

/* ------ SKILL SECTION ------ */

#skills-container {
    height: 100vh;
    background-color: white;
}

#skills-heading-div {
    height: 15vh;
    padding: 5rem;
    color: #1f3666;
}

#skills-content {
    margin-left: 5rem;
    padding: 2rem;
    height: 40vh;
    width:auto;
}

#skills-content h3 {
    color: #009ed4;
}

.skills-item {
    padding: 2rem;
    margin-left: 4rem;
}

#resume-thumbnail {
    height: 10rem;
    margin: 1rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#resume-link {
    color: #009ed4;
    font-size: 2rem;
    text-decoration: underline #BCBCBC;
    text-underline-position: under;
}

#skills-footer {
    height: 30vh;
    width: 80vw;
    margin: auto;
    text-align: center;
}

#skills-footer-item {
    padding: 1rem;
    max-width: 50%;
}

/* ------ PROJECTS SECTION ------ */

#projects-container {
    /* height: 100vh; */
    background-color: white;
}

#projects-container h2, h3 {
    color: #1f3666;
}

#projects-heading-div {
    height: 15vh;
    padding: 5rem;
    color: #1f3666;
}

#p1-img1 {
    max-width: 60%;
    position: relative;
    margin-left: 5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p1-img2 {
    max-width: 21%;
    position: absolute;
    left: 49rem;
    margin-top: 3.5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p1-img3 {
    max-width: 15%;
    position: absolute;
    left: 61rem;
    margin-top: 7rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p2-img1 {
    max-width: 60%;
    position: relative;
    margin-left: 5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p2-img2 {
    max-width: 40%;
    position: absolute;
    left: 37rem;
    margin-top: 5.5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p2-img3 {
    max-width: 23%;
    position: absolute;
    left: 56rem;
    margin-top: 9rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p3-img1 {
    max-width: 60%;
    position: relative;
    margin-left: 5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p3-img2 {
    max-width: 56%;
    position: absolute;
    left: 26rem;
    margin-top: 6.5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p4-img1 {
    max-width: 60%;
    position: relative;
    margin-left: 5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p4-img2 {
    max-width: 60%;
    position: absolute;
    left: 28rem;
    margin-top: 2.5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p5-img1 {
    max-width: 60%;
    position: relative;
    margin-left: 5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p5-img2 {
    max-width: 60%;
    position: absolute;
    left: 24rem;
    margin-top: 2.5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p5-img3 {
    max-width: 60%;
    position: absolute;
    left: 40rem;
    margin-top: 5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#p6-img1 {
    max-width: 60%;
    position: relative;
    margin-left: 5rem;
    /* Shadow effect */
    -webkit-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
    box-shadow: -5px 10px 28px -4px rgba(0,0,0,0.75);
}

#project-heading {
    margin-left: 5rem;
    margin-top: 1.5rem;
    display: inline-flex;
}

#project-heading h3 {
    color: #009ed4;
}

.project-links a {
    margin-left: 1rem;
    color: #009ed4;
}

#project-info {
    margin-left: 5rem;
    margin-top: 0;
    padding: .5rem;
}

.techs-used {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-size: 1.1rem;
    font-weight: bolder;
    color: #009ed4;
    border: 2px solid #009ed4;
    border-radius: 3px;
    padding: 2px 7px;
}

.seperator {
    height: 7rem;
}


/* ------ PROJECTS SECTION ------ */

#footer-container {
    background-color: white;
    padding: 3rem;
}

.footer-col {
    margin: auto;
}

#footer-col-right {
    text-align: right;
}

.media-links a {
    margin: 0 2rem;
    color: #009ed4;
}


.footer-content {
    background-color:#1f3666;
    color: #009ed4;
}

.footer-left {
    float: left;
}

.footer-right {
    /* float: right; */
    display: inline-block;
}
